html {
    font-size: $font-size;
}

body {
    font-size: $font-size;
    font-family: $font-main;
    /*убрать потом*/
    overflow-y: scroll;
}

a {
    color: $color-primary;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-accent;
    }
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: $color-light;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}