%text-shadow {
    text-shadow: 0 0 5px darken($color-dark, 14%), 0 0 20px darken($color-dark, 14%)
}

%margin-bottom {
    margin-bottom: $gap * 5.33333333333333;
}

%block-shortener {
    white-space: nowrap;
    overflow: hidden;
}