.footer {
    padding-top: $gap*3;
    color: #fbfbfb;
    background-color: $color-dark;
}

.container-fluid {
    padding-right: $gap;
    padding-left: $gap;
    margin-right: auto;
    margin-left: auto;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer_a {
    color: #777777;
}

.footer_a:hover {
    color: $color-light;
}

.footer-fifth {
    margin: 20px 0;
    text-align: center;
}